@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8e50k8');
  src:  url('fonts/icomoon.eot?8e50k8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8e50k8') format('truetype'),
    url('fonts/icomoon.woff?8e50k8') format('woff'),
    url('fonts/icomoon.svg?8e50k8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-letter-a:before {
  content: "\ecbc";
}
.icon-letter-b:before {
  content: "\ecbd";
}
.icon-letter-c:before {
  content: "\ecbe";
}
.icon-letter-d:before {
  content: "\ecbf";
}
.icon-letter-e:before {
  content: "\ecc0";
}
.icon-letter-f:before {
  content: "\ecc1";
}
.icon-letter-g:before {
  content: "\ecc2";
}
.icon-letter-h:before {
  content: "\ecc3";
}
.icon-letter-i:before {
  content: "\ecc4";
}
.icon-letter-j:before {
  content: "\ecc5";
}
.icon-letter-k:before {
  content: "\ecc6";
}
.icon-letter-l:before {
  content: "\ecc7";
}
.icon-letter-m:before {
  content: "\ecc8";
}
.icon-letter-n:before {
  content: "\ecc9";
}
.icon-letter-o:before {
  content: "\ecca";
}
.icon-letter-p:before {
  content: "\eccb";
}
.icon-letter-q:before {
  content: "\eccc";
}
.icon-letter-r:before {
  content: "\eccd";
}
.icon-letter-s:before {
  content: "\ecce";
}
.icon-letter-t:before {
  content: "\eccf";
}
.icon-letter-u:before {
  content: "\ecd0";
}
.icon-letter-v:before {
  content: "\ecd1";
}
.icon-letter-w:before {
  content: "\ecd2";
}
.icon-letter-x:before {
  content: "\ecd3";
}
.icon-letter-y:before {
  content: "\ecd4";
}
.icon-letter-z:before {
  content: "\ecd5";
}
.icon-burger:before {
  content: "\e921";
}
.icon-hambread:before {
  content: "\eb5f";
}
.icon-xburger:before {
  content: "\ebc7";
}
.icon-meat:before {
  content: "\ebd9";
}
.icon-chickleg:before {
  content: "\ec01";
}
.icon-chicken:before {
  content: "\ec08";
}
.icon-kebab:before {
  content: "\ec30";
}
.icon-meatleg:before {
  content: "\ec34";
}
.icon-bacon:before {
  content: "\ec35";
}
.icon-protein:before {
  content: "\ec48";
}
.icon-croissant:before {
  content: "\ec78";
}
.icon-fish:before {
  content: "\ec87";
}
.icon-fish-down:before {
  content: "\ec88";
}
.icon-cakeslice:before {
  content: "\ec89";
}
.icon-cupcake:before {
  content: "\ec8a";
}
.icon-muffin:before {
  content: "\ec8b";
}
.icon-muffin-cherry:before {
  content: "\ec8c";
}
.icon-drink:before {
  content: "\ec8d";
}
.icon-hotmug:before {
  content: "\ec8e";
}
.icon-orange-juice:before {
  content: "\ec8f";
}
.icon-cafe:before {
  content: "\ec90";
}
.icon-juice:before {
  content: "\ec91";
}
.icon-full-bottle:before {
  content: "\ec92";
}
.icon-coke-bottle:before {
  content: "\ec93";
}
.icon-soda:before {
  content: "\ec94";
}
.icon-pizza:before {
  content: "\ec95";
}
.icon-pizza-melt:before {
  content: "\ec96";
}
.icon-pizza-yum:before {
  content: "\ec97";
}
.icon-pizza-down:before {
  content: "\ec98";
}
.icon-pizza-fat:before {
  content: "\ec99";
}
.icon-pizza-fras:before {
  content: "\ec9a";
}
.icon-hotrice:before {
  content: "\ec9b";
}
.icon-rice-bow:before {
  content: "\ec9c";
}
.icon-rice-rashi:before {
  content: "\ec9d";
}
.icon-cereal:before {
  content: "\ec9e";
}
.icon-bread-hot:before {
  content: "\ec9f";
}
.icon-bread-slice:before {
  content: "\eca0";
}
.icon-mug-milk:before {
  content: "\eca1";
}
.icon-tea:before {
  content: "\eca2";
}
.icon-frenchfries:before {
  content: "\eca3";
}
.icon-salad-bow:before {
  content: "\eca4";
}
.icon-flower:before {
  content: "\eca5";
}
.icon-carrot:before {
  content: "\eca6";
}
.icon-salad:before {
  content: "\eca7";
}
.icon-foodtool:before {
  content: "\eca8";
}
.icon-eme:before {
  content: "\ecb8";
}
.icon-parking:before {
  content: "\ecb9";
}
.icon-star-member:before {
  content: "\ecba";
}
.icon-building-comm2:before {
  content: "\ecab";
}
.icon-condominiun:before {
  content: "\ecac";
}
.icon-building-comm:before {
  content: "\ecb3";
}
.icon-building-shop:before {
  content: "\ecb1";
}
.icon-uid:before {
  content: "\ecad";
}
.icon-hold-uid:before {
  content: "\ecae";
}
.icon-uid2:before {
  content: "\ecb0";
}
.icon-passthru:before {
  content: "\ecaf";
}
.icon-entrance:before {
  content: "\ecb2";
}
.icon-eraser:before {
  content: "\e9b3";
}
.icon-bullseye:before {
  content: "\e9bc";
}
.icon-intersection:before {
  content: "\ec86";
}
.icon-join:before {
  content: "\e91a";
}
.icon-circles-shape:before {
  content: "\e9f0";
}
.icon-book:before {
  content: "\e9c4";
}
.icon-flask:before {
  content: "\e900";
}
.icon-code:before {
  content: "\e901";
}
.icon-science:before {
  content: "\ea6c";
}
.icon-study-lamp:before {
  content: "\ea7c";
}
.icon-table-blocked:before {
  content: "\ecb7";
}
.icon-drop:before {
  content: "\ea1e";
}
.icon-lamp-stroke:before {
  content: "\eaf4";
}
.icon-king-crown:before {
  content: "\e9d5";
}
.icon-circle-half:before {
  content: "\e976";
}
.icon-half-moon:before {
  content: "\e9bd";
}
.icon-binoculars:before {
  content: "\ea6f";
}
.icon-analytics:before {
  content: "\e9d8";
}
.icon-lens-blocked:before {
  content: "\eb2f";
}
.icon-barcode2:before {
  content: "\ea72";
}
.icon-truck:before {
  content: "\ec31";
}
.icon-stethoscope:before {
  content: "\ec32";
}
.icon-fighter-jet:before {
  content: "\ec33";
}
.icon-peace:before {
  content: "\e9d9";
}
.icon-palm-of-hand:before {
  content: "\e940";
}
.icon-tree-nodes:before {
  content: "\e9fc";
}
.icon-node-circle:before {
  content: "\e9c9";
}
.icon-node-hz:before {
  content: "\ea6e";
}
.icon-group-circle:before {
  content: "\e9fd";
}
.icon-funnel-blocked:before {
  content: "\ea24";
}
.icon-funnel:before {
  content: "\eb30";
}
.icon-geometric:before {
  content: "\e968";
}
.icon-harddisk:before {
  content: "\e9f9";
}
.icon-harddrive:before {
  content: "\e9fa";
}
.icon-gears:before {
  content: "\ec2f";
}
.icon-cog-wrench:before {
  content: "\e9fe";
}
.icon-tools-cross:before {
  content: "\ea35";
}
.icon-cog-circle:before {
  content: "\ebe3";
}
.icon-wrench-cog:before {
  content: "\ec6f";
}
.icon-cogwheel2:before {
  content: "\e9ec";
}
.icon-technology:before {
  content: "\ec36";
}
.icon-wireless-router:before {
  content: "\e9fb";
}
.icon-bind-left:before {
  content: "\e91d";
}
.icon-bind-right:before {
  content: "\e932";
}
.icon-patent:before {
  content: "\e91f";
}
.icon-ticket1:before {
  content: "\ea05";
}
.icon-agreement:before {
  content: "\ea5a";
}
.icon-ticket:before {
  content: "\ec71";
}
.icon-ticket-cut:before {
  content: "\ec72";
}
.icon-ticket-event:before {
  content: "\ec73";
}
.icon-ticket-transport:before {
  content: "\ec74";
}
.icon-nf:before {
  content: "\ec75";
}
.icon-communication:before {
  content: "\ec76";
}
.icon-conversation:before {
  content: "\ec77";
}
.icon-bubble-mid:before {
  content: "\ec79";
}
.icon-chatbox:before {
  content: "\ec7a";
}
.icon-chat-bubble12:before {
  content: "\ec7b";
}
.icon-chat-bubble-round:before {
  content: "\ec7c";
}
.icon-bubble-rdtext:before {
  content: "\ec7d";
}
.icon-chat-history:before {
  content: "\ec7e";
}
.icon-chats:before {
  content: "\ec7f";
}
.icon-chat-text:before {
  content: "\ec80";
}
.icon-no-chat:before {
  content: "\ec81";
}
.icon-ok-chat:before {
  content: "\ec82";
}
.icon-bubble-l:before {
  content: "\ec83";
}
.icon-copy:before {
  content: "\ea76";
}
.icon-people-talk:before {
  content: "\ec70";
}
.icon-doc-bars:before {
  content: "\e9f5";
}
.icon-doc-blank:before {
  content: "\ea69";
}
.icon-doc-code:before {
  content: "\ea6a";
}
.icon-doc-duplicate:before {
  content: "\ea89";
}
.icon-doc-ear:before {
  content: "\eab0";
}
.icon-doc-lock:before {
  content: "\eab1";
}
.icon-doc-minus:before {
  content: "\eb01";
}
.icon-doc-pen2:before {
  content: "\eb18";
}
.icon-doc-pin:before {
  content: "\eb35";
}
.icon-doc-plus:before {
  content: "\ebbe";
}
.icon-doc-sheet:before {
  content: "\ebd5";
}
.icon-docstack:before {
  content: "\ebd6";
}
.icon-doc-text:before {
  content: "\ebe1";
}
.icon-file-cols:before {
  content: "\ec29";
}
.icon-map-edge:before {
  content: "\ec43";
}
.icon-paper-pen:before {
  content: "\ec5d";
}
.icon-report-blank:before {
  content: "\ec5e";
}
.icon-sheet-copy:before {
  content: "\ec5f";
}
.icon-sheetstack:before {
  content: "\ec61";
}
.icon-broken-file:before {
  content: "\ea13";
}
.icon-zip:before {
  content: "\ec62";
}
.icon-zipper:before {
  content: "\ec63";
}
.icon-business-12:before {
  content: "\ec64";
}
.icon-black-paper:before {
  content: "\e9ed";
}
.icon-file-check:before {
  content: "\ebcc";
}
.icon-multimedia:before {
  content: "\ec38";
}
.icon-bandaid:before {
  content: "\e935";
}
.icon-link-rectangle:before {
  content: "\e936";
}
.icon-chained-circle:before {
  content: "\e938";
}
.icon-garbage:before {
  content: "\ec05";
}
.icon-slash:before {
  content: "\ec39";
}
.icon-folder-plus:before {
  content: "\ea77";
}
.icon-folder-minus:before {
  content: "\ea78";
}
.icon-folder-down:before {
  content: "\ea7a";
}
.icon-folder-up:before {
  content: "\ea7b";
}
.icon-costumer-chat:before {
  content: "\ec84";
}
.icon-user-cog:before {
  content: "\e9ee";
}
.icon-teamwork:before {
  content: "\e9f3";
}
.icon-workgroup:before {
  content: "\ea15";
}
.icon-business-woman:before {
  content: "\ea28";
}
.icon-contact:before {
  content: "\ea29";
}
.icon-user-circle:before {
  content: "\ea2b";
}
.icon-avatar:before {
  content: "\ec3c";
}
.icon-groupped:before {
  content: "\ea2f";
}
.icon-flickr:before {
  content: "\e9dc";
}
.icon-link2:before {
  content: "\ea3d";
}
.icon-unlink:before {
  content: "\ea52";
}
.icon-php:before {
  content: "\ec25";
}
.icon-js:before {
  content: "\ec3a";
}
.icon-nodejs:before {
  content: "\ec4d";
}
.icon-network-online:before {
  content: "\ec5b";
}
.icon-network-offline:before {
  content: "\ec5c";
}
.icon-waze:before {
  content: "\ec69";
}
.icon-adobe:before {
  content: "\ec3d";
}
.icon-facebook:before {
  content: "\ec3e";
}
.icon-outlook-logo:before {
  content: "\ec3f";
}
.icon-bing:before {
  content: "\ec85";
}
.icon-google-plus:before {
  content: "\ec41";
}
.icon-cloud3:before {
  content: "\ec42";
}
.icon-gmail-logo:before {
  content: "\ec40";
}
.icon-snapchat-ghost:before {
  content: "\ec44";
}
.icon-edge:before {
  content: "\ec23";
}
.icon-pinterest:before {
  content: "\ec45";
}
.icon-youtube2:before {
  content: "\ec46";
}
.icon-twitter2:before {
  content: "\ec47";
}
.icon-vimeo:before {
  content: "\ea60";
}
.icon-microphone:before {
  content: "\ec49";
}
.icon-microphone-slash:before {
  content: "\ec4a";
}
.icon-camera3:before {
  content: "\ec4b";
}
.icon-carousel:before {
  content: "\ecd6";
}
.icon-store-3:before {
  content: "\ea08";
}
.icon-store:before {
  content: "\ea1a";
}
.icon-supermarket-reg:before {
  content: "\e9f8";
}
.icon-crates:before {
  content: "\ea21";
}
.icon-backup:before {
  content: "\ea22";
}
.icon-payment1:before {
  content: "\e92d";
}
.icon-piggy-bank:before {
  content: "\e94a";
}
.icon-profit:before {
  content: "\e9b8";
}
.icon-blockchain:before {
  content: "\e9c2";
}
.icon-cash-register:before {
  content: "\e911";
}
.icon-safebox:before {
  content: "\e912";
}
.icon-operators:before {
  content: "\e98b";
}
.icon-money-box:before {
  content: "\ebac";
}
.icon-money-budget:before {
  content: "\e909";
}
.icon-transfer-flow:before {
  content: "\e9cd";
}
.icon-transfer-in:before {
  content: "\e9d0";
}
.icon-transfer-out:before {
  content: "\e9d2";
}
.icon-fatura-in:before {
  content: "\e9ef";
}
.icon-fatura-out:before {
  content: "\e9f2";
}
.icon-money-dollar:before {
  content: "\e978";
}
.icon-money-flow:before {
  content: "\e90b";
}
.icon-money-in:before {
  content: "\e90a";
}
.icon-money-out:before {
  content: "\e987";
}
.icon-money:before {
  content: "\ea64";
}
.icon-bag:before {
  content: "\e973";
}
.icon-shop-3:before {
  content: "\ea37";
}
.icon-shopping-basket:before {
  content: "\ea3f";
}
.icon-calc:before {
  content: "\ea5d";
}
.icon-sign-percent:before {
  content: "\ea51";
}
.icon-compass-draw:before {
  content: "\ea53";
}
.icon-shapes-x:before {
  content: "\ea59";
}
.icon-shapes3:before {
  content: "\ea5c";
}
.icon-percentage:before {
  content: "\ea93";
}
.icon-discount-stroke:before {
  content: "\ea94";
}
.icon-percent-discount:before {
  content: "\eb15";
}
.icon-treeview:before {
  content: "\ea7d";
}
.icon-tree-square:before {
  content: "\ea7e";
}
.icon-business-flow:before {
  content: "\eb4e";
}
.icon-file-link:before {
  content: "\ec09";
}
.icon-techtic:before {
  content: "\eb4c";
}
.icon-skycoaster:before {
  content: "\ec0a";
}
.icon-graphic-pointer:before {
  content: "\ec0b";
}
.icon-up-arrow:before {
  content: "\eb4f";
}
.icon-dot-line:before {
  content: "\eba7";
}
.icon-shopping-cart:before {
  content: "\ea49";
}
.icon-cart-ok:before {
  content: "\ea68";
}
.icon-atm:before {
  content: "\e9ca";
}
.icon-card-machine:before {
  content: "\e9cb";
}
.icon-credit-card:before {
  content: "\ec4c";
}
.icon-business-circle:before {
  content: "\eb4d";
}
.icon-business-donut:before {
  content: "\ec0c";
}
.icon-graphic-pie:before {
  content: "\eba5";
}
.icon-watch-points:before {
  content: "\ea73";
}
.icon-calendar-event:before {
  content: "\ea75";
}
.icon-alarm-time:before {
  content: "\eae2";
}
.icon-stopwatch-half:before {
  content: "\eae4";
}
.icon-hist-back:before {
  content: "\eae5";
}
.icon-clock5:before {
  content: "\ec4e";
}
.icon-hist-forward:before {
  content: "\eaf5";
}
.icon-timelist:before {
  content: "\eaff";
}
.icon-deskbell:before {
  content: "\eb4b";
}
.icon-cursor1:before {
  content: "\eae3";
}
.icon-picker-grid:before {
  content: "\eb0b";
}
.icon-cycle-arrows:before {
  content: "\e93b";
}
.icon-pointer-left:before {
  content: "\e998";
}
.icon-pointer-up:before {
  content: "\e999";
}
.icon-pointer-right:before {
  content: "\eafb";
}
.icon-pointer-down:before {
  content: "\eb07";
}
.icon-repeat:before {
  content: "\e93c";
}
.icon-repeat-arrow:before {
  content: "\e948";
}
.icon-exchange:before {
  content: "\ec4f";
}
.icon-angle-left:before {
  content: "\ec50";
}
.icon-angle-right:before {
  content: "\ec51";
}
.icon-angle-up:before {
  content: "\ec52";
}
.icon-angle-down:before {
  content: "\ec53";
}
.icon-move-up-down:before {
  content: "\ecbb";
}
.icon-text-out:before {
  content: "\eb12";
}
.icon-text-in:before {
  content: "\eb1a";
}
.icon-perform:before {
  content: "\eb13";
}
.icon-text-on:before {
  content: "\eb28";
}
.icon-datastack:before {
  content: "\ebad";
}
.icon-signs-0:before {
  content: "\ebaf";
}
.icon-technology-12:before {
  content: "\ebc0";
}
.icon-graphic:before {
  content: "\ebcd";
}
.icon-signal:before {
  content: "\ec54";
}
.icon-swipe-action:before {
  content: "\ebaa";
}
.icon-plus-circle:before {
  content: "\eb17";
}
.icon-circle-plus:before {
  content: "\ebcf";
}
.icon-new:before {
  content: "\ebe9";
}
.icon-forbidden2:before {
  content: "\ec55";
}
.icon-stop-cross:before {
  content: "\ea1d";
}
.icon-circle-check:before {
  content: "\ec06";
}
.icon-check:before {
  content: "\ec07";
}
.icon-restart:before {
  content: "\ec56";
}
.icon-important:before {
  content: "\e9b2";
}
.icon-inform3:before {
  content: "\ea23";
}
.icon-virus:before {
  content: "\ea4d";
}
.icon-bomb:before {
  content: "\ea50";
}
.icon-passport:before {
  content: "\ecb4";
}
.icon-capitain:before {
  content: "\ecb5";
}
.icon-exitance:before {
  content: "\ecb6";
}
.icon-mug:before {
  content: "\e9f6";
}
.icon-table:before {
  content: "\ebd0";
}
.icon-table2:before {
  content: "\ebd1";
}
.icon-strike:before {
  content: "\ebde";
}
.icon-italic:before {
  content: "\ebe4";
}
.icon-underline:before {
  content: "\ebe5";
}
.icon-bold:before {
  content: "\ebe7";
}
.icon-color-mode:before {
  content: "\ea40";
}
.icon-contrast:before {
  content: "\e9be";
}
.icon-weather:before {
  content: "\e920";
}
.icon-thinking:before {
  content: "\e905";
}
.icon-chat8:before {
  content: "\e9b6";
}
.icon-sms6:before {
  content: "\e9b7";
}
.icon-gesture:before {
  content: "\e906";
}
.icon-target:before {
  content: "\e9bf";
}
.icon-right-quote-alt:before {
  content: "\e9c7";
}
.icon-right-quote:before {
  content: "\e9c8";
}
.icon-lens:before {
  content: "\ea6b";
}
.icon-lens-r:before {
  content: "\ea33";
}
.icon-home:before {
  content: "\e9ce";
}
.icon-quill:before {
  content: "\e9d6";
}
.icon-barcode:before {
  content: "\e9da";
}
.icon-qrcode:before {
  content: "\e9db";
}
.icon-hammer:before {
  content: "\e9dd";
}
.icon-trophy:before {
  content: "\e9e4";
}
.icon-rocket:before {
  content: "\e9e6";
}
.icon-scissors:before {
  content: "\e9e9";
}
.icon-heart68:before {
  content: "\e9ea";
}
.icon-anchor:before {
  content: "\e9eb";
}
.icon-pin:before {
  content: "\e9f1";
}
.icon-quiz:before {
  content: "\ea01";
}
.icon-quiz2:before {
  content: "\ea04";
}
.icon-presentation-empty:before {
  content: "\e9ff";
}
.icon-chart-empty:before {
  content: "\ea00";
}
.icon-position-stars:before {
  content: "\ea02";
}
.icon-virus4:before {
  content: "\ea0a";
}
.icon-label-star:before {
  content: "\ea06";
}
.icon-award61:before {
  content: "\ea07";
}
.icon-certificate12:before {
  content: "\ea09";
}
.icon-medal49:before {
  content: "\ea0b";
}
.icon-medal11:before {
  content: "\ea0c";
}
.icon-a15:before {
  content: "\ea0d";
}
.icon-cubes7:before {
  content: "\ea0e";
}
.icon-cubes8:before {
  content: "\ea0f";
}
.icon-package5:before {
  content: "\ea18";
}
.icon-fingerprint10:before {
  content: "\ea10";
}
.icon-identification6:before {
  content: "\ea11";
}
.icon-hand256:before {
  content: "\ea12";
}
.icon-one45:before {
  content: "\ea14";
}
.icon-touch:before {
  content: "\ea17";
}
.icon-rox:before {
  content: "\ea16";
}
.icon-podcast6:before {
  content: "\ea19";
}
.icon-business30:before {
  content: "\ea1c";
}
.icon-auto4:before {
  content: "\ea20";
}
.icon-crop:before {
  content: "\ea25";
}
.icon-bulb:before {
  content: "\ea27";
}
.icon-padlock-open:before {
  content: "\ea2c";
}
.icon-lock:before {
  content: "\ea2a";
}
.icon-lock10:before {
  content: "\ea2d";
}
.icon-lock83:before {
  content: "\ea2e";
}
.icon-password14:before {
  content: "\ea30";
}
.icon-buildings:before {
  content: "\ea31";
}
.icon-exit:before {
  content: "\ea32";
}
.icon-asterix:before {
  content: "\ea36";
}
.icon-transport:before {
  content: "\ea38";
}
.icon-medical-1:before {
  content: "\ea39";
}
.icon-glasses:before {
  content: "\ea3a";
}
.icon-radio-checked:before {
  content: "\ea3b";
}
.icon-radio-unchecked:before {
  content: "\ea26";
}
.icon-radio-checked2:before {
  content: "\ea3c";
}
.icon-scissors2:before {
  content: "\ea3e";
}
.icon-apple:before {
  content: "\eab7";
}
.icon-android:before {
  content: "\eab8";
}
.icon-windows8:before {
  content: "\eab9";
}
.icon-new-window:before {
  content: "\e9c3";
}
.icon-browser2:before {
  content: "\e9c5";
}
.icon-net:before {
  content: "\e9c6";
}
.icon-zap:before {
  content: "\e9cc";
}
.icon-microscope:before {
  content: "\e9cf";
}
.icon-screen-full:before {
  content: "\e9d3";
}
.icon-screen-normal:before {
  content: "\e9d4";
}
.icon-connection:before {
  content: "\e9d7";
}
.icon-wrench:before {
  content: "\e9de";
}
.icon-settings:before {
  content: "\e9df";
}
.icon-equalizer:before {
  content: "\e9e0";
}
.icon-cog:before {
  content: "\e9e1";
}
.icon-cog2:before {
  content: "\e9e2";
}
.icon-cogs:before {
  content: "\e9e3";
}
.icon-feed2:before {
  content: "\e9f4";
}
.icon-feed3:before {
  content: "\e9f7";
}
.icon-screen:before {
  content: "\e9b9";
}
.icon-mobile2:before {
  content: "\e9ba";
}
.icon-plug:before {
  content: "\e9d1";
}
.icon-switch:before {
  content: "\e9e8";
}
.icon-contract:before {
  content: "\ec66";
}
.icon-stack:before {
  content: "\ea66";
}
.icon-clipboard:before {
  content: "\ec3b";
}
.icon-paper:before {
  content: "\ec65";
}
.icon-doc-tray:before {
  content: "\ec67";
}
.icon-wand:before {
  content: "\ea41";
}
.icon-magic:before {
  content: "\ea42";
}
.icon-wizard:before {
  content: "\ea43";
}
.icon-wand2:before {
  content: "\ea44";
}
.icon-edit-stroke:before {
  content: "\ea45";
}
.icon-edition:before {
  content: "\ea46";
}
.icon-edition-2:before {
  content: "\ea47";
}
.icon-pen2:before {
  content: "\ea48";
}
.icon-pen-alt2:before {
  content: "\ea4a";
}
.icon-edit:before {
  content: "\ea4b";
}
.icon-form:before {
  content: "\ea4c";
}
.icon-email:before {
  content: "\ea4f";
}
.icon-disk:before {
  content: "\ea54";
}
.icon-floppy-disk:before {
  content: "\ea55";
}
.icon-diskette13:before {
  content: "\ea56";
}
.icon-book3:before {
  content: "\ec60";
}
.icon-book32:before {
  content: "\ea57";
}
.icon-book-alt:before {
  content: "\ea58";
}
.icon-tool:before {
  content: "\ea5b";
}
.icon-attachment3:before {
  content: "\ea5e";
}
.icon-link:before {
  content: "\ea5f";
}
.icon-floppy2:before {
  content: "\ea61";
}
.icon-print31:before {
  content: "\ea62";
}
.icon-print:before {
  content: "\ea63";
}
.icon-print5:before {
  content: "\ea65";
}
.icon-tab2:before {
  content: "\ea6d";
}
.icon-embed:before {
  content: "\ea70";
}
.icon-code2:before {
  content: "\ea71";
}
.icon-folder:before {
  content: "\ec68";
}
.icon-folder-check:before {
  content: "\e9c0";
}
.icon-people:before {
  content: "\ea81";
}
.icon-champion:before {
  content: "\ea82";
}
.icon-bald:before {
  content: "\ea83";
}
.icon-bald22:before {
  content: "\ea84";
}
.icon-question-mark1:before {
  content: "\ea85";
}
.icon-operator3:before {
  content: "\ea86";
}
.icon-school-2:before {
  content: "\ea87";
}
.icon-address-book:before {
  content: "\ea88";
}
.icon-accessibility:before {
  content: "\ea8a";
}
.icon-man5:before {
  content: "\ea8b";
}
.icon-teacher:before {
  content: "\ea8c";
}
.icon-headset1:before {
  content: "\ea8d";
}
.icon-meeting:before {
  content: "\ea8e";
}
.icon-people2:before {
  content: "\ea8f";
}
.icon-people-1:before {
  content: "\ea90";
}
.icon-people-2:before {
  content: "\ea91";
}
.icon-people-3:before {
  content: "\ea92";
}
.icon-shape:before {
  content: "\ea95";
}
.icon-social:before {
  content: "\ea96";
}
.icon-user-file:before {
  content: "\ea97";
}
.icon-user6:before {
  content: "\ea98";
}
.icon-users3:before {
  content: "\ea99";
}
.icon-user-plus:before {
  content: "\ea9a";
}
.icon-user-minus:before {
  content: "\ea9b";
}
.icon-user-check:before {
  content: "\ea9c";
}
.icon-man2:before {
  content: "\ea9d";
}
.icon-woman2:before {
  content: "\ea9e";
}
.icon-man-woman:before {
  content: "\ea9f";
}
.icon-map:before {
  content: "\ec6a";
}
.icon-whatsapp:before {
  content: "\ec6b";
}
.icon-adobe2:before {
  content: "\eab5";
}
.icon-excel:before {
  content: "\eb58";
}
.icon-ms-excel:before {
  content: "\eb5d";
}
.icon-google:before {
  content: "\eaa0";
}
.icon-instagram:before {
  content: "\eaa2";
}
.icon-instagram2:before {
  content: "\eaa3";
}
.icon-secure:before {
  content: "\eaa4";
}
.icon-earth:before {
  content: "\eaa5";
}
.icon-map-pin-fill:before {
  content: "\eaa6";
}
.icon-location3:before {
  content: "\eaa7";
}
.icon-location2:before {
  content: "\eaa8";
}
.icon-pin2:before {
  content: "\eaa9";
}
.icon-pin-alt:before {
  content: "\eaaa";
}
.icon-route:before {
  content: "\eaab";
}
.icon-location:before {
  content: "\eaac";
}
.icon-map2:before {
  content: "\eaae";
}
.icon-map22:before {
  content: "\eaaf";
}
.icon-steering-wheel:before {
  content: "\eab2";
}
.icon-feed:before {
  content: "\eab3";
}
.icon-soundcloud:before {
  content: "\eab4";
}
.icon-chrome:before {
  content: "\eaba";
}
.icon-firefox:before {
  content: "\eabb";
}
.icon-opera:before {
  content: "\eabc";
}
.icon-safari:before {
  content: "\eabd";
}
.icon-ie:before {
  content: "\eabe";
}
.icon-skype:before {
  content: "\eabf";
}
.icon-paypal:before {
  content: "\eac0";
}
.icon-github3:before {
  content: "\eac1";
}
.icon-github:before {
  content: "\eac2";
}
.icon-html52:before {
  content: "\eac3";
}
.icon-html53:before {
  content: "\eac4";
}
.icon-css33:before {
  content: "\eac5";
}
.icon-firebase:before {
  content: "\eca9";
}
.icon-youtube4:before {
  content: "\eaa1";
}
.icon-radio:before {
  content: "\eac6";
}
.icon-stop2:before {
  content: "\eac7";
}
.icon-play3:before {
  content: "\eac8";
}
.icon-pause2:before {
  content: "\eac9";
}
.icon-first:before {
  content: "\eaca";
}
.icon-last:before {
  content: "\eacb";
}
.icon-backward2:before {
  content: "\eacc";
}
.icon-forward3:before {
  content: "\eacd";
}
.icon-previous2:before {
  content: "\eace";
}
.icon-next2:before {
  content: "\eacf";
}
.icon-eject:before {
  content: "\ead0";
}
.icon-notify:before {
  content: "\ead1";
}
.icon-notify-idle:before {
  content: "\ead2";
}
.icon-eye:before {
  content: "\ead3";
}
.icon-eye2:before {
  content: "\ead4";
}
.icon-eye3:before {
  content: "\ead5";
}
.icon-eye-blocked:before {
  content: "\ead6";
}
.icon-shapes:before {
  content: "\ead7";
}
.icon-medical:before {
  content: "\ead8";
}
.icon-hammer3:before {
  content: "\ead9";
}
.icon-microphone2:before {
  content: "\eada";
}
.icon-phone:before {
  content: "\eadb";
}
.icon-phone-hang-up:before {
  content: "\eadc";
}
.icon-tape:before {
  content: "\eadd";
}
.icon-gif:before {
  content: "\e957";
}
.icon-pulse:before {
  content: "\eade";
}
.icon-webcam:before {
  content: "\eadf";
}
.icon-webcam1:before {
  content: "\eae0";
}
.icon-call37:before {
  content: "\eae1";
}
.icon-volume-decrease:before {
  content: "\eae6";
}
.icon-volume-high:before {
  content: "\eae7";
}
.icon-volume-increase:before {
  content: "\eae8";
}
.icon-volume-low:before {
  content: "\eae9";
}
.icon-volume-medium:before {
  content: "\eaea";
}
.icon-volume-mute:before {
  content: "\eaeb";
}
.icon-volume-mute2:before {
  content: "\eaec";
}
.icon-movie:before {
  content: "\eaed";
}
.icon-camera:before {
  content: "\eaee";
}
.icon-camera4:before {
  content: "\eaef";
}
.icon-camera5:before {
  content: "\eaf0";
}
.icon-picture7:before {
  content: "\eaf1";
}
.icon-image2:before {
  content: "\eaf2";
}
.icon-music2:before {
  content: "\eaf3";
}
.icon-mute:before {
  content: "\eaf6";
}
.icon-youtube:before {
  content: "\eaf7";
}
.icon-coins:before {
  content: "\eb05";
}
.icon-rollwheel:before {
  content: "\e9e5";
}
.icon-tag23:before {
  content: "\eafe";
}
.icon-discount:before {
  content: "\eb0f";
}
.icon-business:before {
  content: "\eb19";
}
.icon-dollar185:before {
  content: "\eaf8";
}
.icon-tag:before {
  content: "\eaf9";
}
.icon-briefcase3:before {
  content: "\eafa";
}
.icon-cart:before {
  content: "\eafd";
}
.icon-cart22:before {
  content: "\eb00";
}
.icon-credit-card2:before {
  content: "\eafc";
}
.icon-credit:before {
  content: "\eb02";
}
.icon-certificate122:before {
  content: "\eb04";
}
.icon-hand129:before {
  content: "\eb06";
}
.icon-visa-logo:before {
  content: "\eb08";
}
.icon-target2:before {
  content: "\eb09";
}
.icon-coin-circle:before {
  content: "\eb0a";
}
.icon-dollar-rotate:before {
  content: "\eb10";
}
.icon-dollar-circle:before {
  content: "\eb11";
}
.icon-pie:before {
  content: "\eb03";
}
.icon-letter15:before {
  content: "\eb0c";
}
.icon-coins-1:before {
  content: "\eb0d";
}
.icon-receipt:before {
  content: "\eb0e";
}
.icon-piggy9:before {
  content: "\eb16";
}
.icon-speedometer32:before {
  content: "\eb1b";
}
.icon-stopwatch:before {
  content: "\eb1c";
}
.icon-meter:before {
  content: "\eb1d";
}
.icon-meter2:before {
  content: "\eb1e";
}
.icon-dashboard:before {
  content: "\eb1f";
}
.icon-call372:before {
  content: "\eb20";
}
.icon-calendar:before {
  content: "\ec6d";
}
.icon-calendar-1:before {
  content: "\ec6c";
}
.icon-calendar2:before {
  content: "\eb22";
}
.icon-business-1:before {
  content: "\eb21";
}
.icon-calendar22:before {
  content: "\eb23";
}
.icon-calendar3:before {
  content: "\eb24";
}
.icon-alarm:before {
  content: "\eb25";
}
.icon-alarm2:before {
  content: "\eb26";
}
.icon-alarm22:before {
  content: "\eb27";
}
.icon-clock:before {
  content: "\eb2b";
}
.icon-clock2:before {
  content: "\eb2c";
}
.icon-clock3:before {
  content: "\eb2d";
}
.icon-dashboard2:before {
  content: "\eb2e";
}
.icon-history:before {
  content: "\eb31";
}
.icon-history2:before {
  content: "\eb32";
}
.icon-meter3:before {
  content: "\eb33";
}
.icon-meter22:before {
  content: "\eb34";
}
.icon-stopwatch2:before {
  content: "\eb36";
}
.icon-picker-gd:before {
  content: "\eb14";
}
.icon-arrows:before {
  content: "\ec6e";
}
.icon-refresh3:before {
  content: "\eb37";
}
.icon-refresh222:before {
  content: "\eb5e";
}
.icon-sync2:before {
  content: "\eb56";
}
.icon-spin-alt:before {
  content: "\eb57";
}
.icon-spinner:before {
  content: "\eb63";
}
.icon-arrow-circle:before {
  content: "\ec24";
}
.icon-arrows130:before {
  content: "\eb38";
}
.icon-arrows-circle:before {
  content: "\ec37";
}
.icon-move-vertical:before {
  content: "\eb39";
}
.icon-move-horizontal:before {
  content: "\eb3a";
}
.icon-fullscreen-exit:before {
  content: "\eb3b";
}
.icon-fullscreen:before {
  content: "\eb3c";
}
.icon-git-branch:before {
  content: "\eb3d";
}
.icon-git-compare:before {
  content: "\eb3e";
}
.icon-git-merge:before {
  content: "\eb3f";
}
.icon-git-pull-request:before {
  content: "\eb40";
}
.icon-repo-forked:before {
  content: "\eb41";
}
.icon-arrow-left:before {
  content: "\eb42";
}
.icon-arrow-right:before {
  content: "\eb43";
}
.icon-arrow-up:before {
  content: "\eb44";
}
.icon-arrow-down:before {
  content: "\eb45";
}
.icon-download61:before {
  content: "\eb4a";
}
.icon-alignment-align:before {
  content: "\eb50";
}
.icon-alignment-aligned-to:before {
  content: "\eb51";
}
.icon-code3:before {
  content: "\eb52";
}
.icon-link-external:before {
  content: "\eb53";
}
.icon-sign-in:before {
  content: "\eb54";
}
.icon-sign-out:before {
  content: "\eb55";
}
.icon-fork:before {
  content: "\eb59";
}
.icon-move:before {
  content: "\eb5a";
}
.icon-undo2:before {
  content: "\eb5b";
}
.icon-move2:before {
  content: "\eb5c";
}
.icon-undo22:before {
  content: "\eb60";
}
.icon-redo3:before {
  content: "\eb61";
}
.icon-square6:before {
  content: "\eb62";
}
.icon-archive:before {
  content: "\eb64";
}
.icon-download2:before {
  content: "\eb65";
}
.icon-upload2:before {
  content: "\eb66";
}
.icon-download3:before {
  content: "\eb67";
}
.icon-upload3:before {
  content: "\eb68";
}
.icon-split:before {
  content: "\eb6c";
}
.icon-download22:before {
  content: "\eb6d";
}
.icon-upload23:before {
  content: "\eb6e";
}
.icon-select-window:before {
  content: "\eb70";
}
.icon-chevron-r:before {
  content: "\eb6b";
}
.icon-chevron-l:before {
  content: "\eb69";
}
.icon-chevron-u:before {
  content: "\eb6f";
}
.icon-chevron-d:before {
  content: "\eb6a";
}
.icon-chevron-up:before {
  content: "\eb49";
}
.icon-chevron-down:before {
  content: "\eb46";
}
.icon-chevron-left:before {
  content: "\eb47";
}
.icon-chevron-right:before {
  content: "\eb48";
}
.icon-circle-down:before {
  content: "\eb83";
}
.icon-circle-up:before {
  content: "\eb81";
}
.icon-circle-left:before {
  content: "\eb84";
}
.icon-circle-right:before {
  content: "\eb82";
}
.icon-loop:before {
  content: "\eb72";
}
.icon-reload-alt:before {
  content: "\eb73";
}
.icon-cloud-download:before {
  content: "\eb74";
}
.icon-cloud-upload:before {
  content: "\eb75";
}
.icon-direction:before {
  content: "\eb76";
}
.icon-undo:before {
  content: "\eb77";
}
.icon-redo:before {
  content: "\eb78";
}
.icon-arrow-up-left2:before {
  content: "\eb79";
}
.icon-arrow-up23:before {
  content: "\eb7a";
}
.icon-arrow-up-right2:before {
  content: "\eb7b";
}
.icon-arrow-right2:before {
  content: "\eb7c";
}
.icon-arrow-down-right2:before {
  content: "\eb7d";
}
.icon-arrow-down2:before {
  content: "\eb7e";
}
.icon-arrow-down-left2:before {
  content: "\eb7f";
}
.icon-arrow-left2:before {
  content: "\eb80";
}
.icon-tab:before {
  content: "\eb85";
}
.icon-move-up:before {
  content: "\eb86";
}
.icon-move-down:before {
  content: "\eb87";
}
.icon-sort-alpha-asc:before {
  content: "\eb88";
}
.icon-sort-numeric-asc:before {
  content: "\eb89";
}
.icon-sort-numberic-desc:before {
  content: "\eb8a";
}
.icon-sort-amount-asc:before {
  content: "\eb8b";
}
.icon-sort-amount-desc:before {
  content: "\eb8c";
}
.icon-menu3:before {
  content: "\e9a4";
}
.icon-left-quote:before {
  content: "\eb8d";
}
.icon-lines:before {
  content: "\eb8e";
}
.icon-three-bars2:before {
  content: "\eb8f";
}
.icon-left-quote2:before {
  content: "\eb90";
}
.icon-left-quote-alt:before {
  content: "\eb91";
}
.icon-layers-alt:before {
  content: "\eb92";
}
.icon-layers:before {
  content: "\eb93";
}
.icon-bars:before {
  content: "\eb94";
}
.icon-menu2:before {
  content: "\eb95";
}
.icon-justify:before {
  content: "\eb96";
}
.icon-paragraph-justify:before {
  content: "\eb97";
}
.icon-gallery6:before {
  content: "\eb98";
}
.icon-list-1:before {
  content: "\eb99";
}
.icon-deslok:before {
  content: "\eb9a";
}
.icon-dots-small-vert:before {
  content: "\eb9b";
}
.icon-dots-small:before {
  content: "\eb9c";
}
.icon-grid-small:before {
  content: "\eb9d";
}
.icon-grid-block:before {
  content: "\eb9e";
}
.icon-squares:before {
  content: "\eb9f";
}
.icon-bars7:before {
  content: "\eba0";
}
.icon-three-bars:before {
  content: "\eba1";
}
.icon-minus3:before {
  content: "\eba2";
}
.icon-plus:before {
  content: "\eba6";
}
.icon-alert:before {
  content: "\ebab";
}
.icon-blocked:before {
  content: "\eba3";
}
.icon-forbidden:before {
  content: "\ebbc";
}
.icon-cross108:before {
  content: "\eba4";
}
.icon-cancel-circle:before {
  content: "\ebb3";
}
.icon-close2:before {
  content: "\ebb6";
}
.icon-cross2:before {
  content: "\ebc5";
}
.icon-close:before {
  content: "\ebb4";
}
.icon-close8:before {
  content: "\ebb0";
}
.icon-close9:before {
  content: "\ebb1";
}
.icon-x:before {
  content: "\eba9";
}
.icon-delete3:before {
  content: "\ebae";
}
.icon-subtract:before {
  content: "\ebb5";
}
.icon-checkmark2:before {
  content: "\ebc6";
}
.icon-checkmark5:before {
  content: "\ebb7";
}
.icon-check-round:before {
  content: "\ebb8";
}
.icon-faq7:before {
  content: "\ebb9";
}
.icon-question-mark2:before {
  content: "\ebbb";
}
.icon-conversation6:before {
  content: "\ebbf";
}
.icon-ask:before {
  content: "\ebc1";
}
.icon-question1:before {
  content: "\ebb2";
}
.icon-magnifying-glass31:before {
  content: "\ebba";
}
.icon-error-outline:before {
  content: "\e9ad";
}
.icon-issue-opened:before {
  content: "\eba8";
}
.icon-inform:before {
  content: "\ebc2";
}
.icon-inform1:before {
  content: "\ebc3";
}
.icon-inform2:before {
  content: "\ebc4";
}
.icon-cursor:before {
  content: "\ebbd";
}
.icon-nuvole:before {
  content: "\ecaa";
}
.icon-sourcelab:before {
  content: "\e9c1";
}
.icon-source360:before {
  content: "\ea79";
}
.icon-mrmanager:before {
  content: "\ebc9";
}
.icon-apprendo:before {
  content: "\ebca";
}
.icon-endove:before {
  content: "\ebcb";
}
.icon-marketsave:before {
  content: "\e904";
}
.icon-cogwheel:before {
  content: "\e9a7";
}
.icon-website:before {
  content: "\ea34";
}
.icon-play-list:before {
  content: "\e902";
}
.icon-airplane-inactive:before {
  content: "\e907";
}
.icon-straighten:before {
  content: "\e913";
}
.icon-timelapse:before {
  content: "\e914";
}
.icon-bulb-on:before {
  content: "\e915";
}
.icon-flight:before {
  content: "\e916";
}
.icon-gas-station:before {
  content: "\e919";
}
.icon-whatshot:before {
  content: "\e80e";
}
.icon-school2:before {
  content: "\e80c";
}
.icon-bug_report:before {
  content: "\e922";
}
.icon-fingerprint:before {
  content: "\e923";
}
.icon-touch-app:before {
  content: "\e924";
}
.icon-handstand:before {
  content: "\e925";
}
.icon-thumb-up:before {
  content: "\e926";
}
.icon-thumb-down:before {
  content: "\e927";
}
.icon-motorcycle:before {
  content: "\e934";
}
.icon-extension:before {
  content: "\e928";
}
.icon-group-work:before {
  content: "\e929";
}
.icon-drop-vertical:before {
  content: "\e92a";
}
.icon-settings-code:before {
  content: "\e92b";
}
.icon-id:before {
  content: "\e92e";
}
.icon-key3:before {
  content: "\e92f";
}
.icon-spellcheck:before {
  content: "\e930";
}
.icon-drop-horizontal:before {
  content: "\e931";
}
.icon-copyright:before {
  content: "\e933";
}
.icon-ac:before {
  content: "\ea03";
}
.icon-golf-course:before {
  content: "\e937";
}
.icon-vibration:before {
  content: "\e62d";
}
.icon-layers-on:before {
  content: "\e917";
}
.icon-layers-clear:before {
  content: "\e918";
}
.icon-nfc:before {
  content: "\e90d";
}
.icon-aspect-ratio:before {
  content: "\e91b";
}
.icon-toys:before {
  content: "\e332";
}
.icon-build:before {
  content: "\e91c";
}
.icon-tune:before {
  content: "\e91e";
}
.icon-hdmi:before {
  content: "\e92c";
}
.icon-electronic:before {
  content: "\e903";
}
.icon-bluetooth:before {
  content: "\e980";
}
.icon-wireless:before {
  content: "\e983";
}
.icon-memory:before {
  content: "\e90e";
}
.icon-phonelink:before {
  content: "\e90f";
}
.icon-devices-other:before {
  content: "\e910";
}
.icon-laptop:before {
  content: "\e939";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-tablet_mac:before {
  content: "\e331";
}
.icon-tablet_android:before {
  content: "\e330";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-phone-ring:before {
  content: "\e93a";
}
.icon-keyboard2:before {
  content: "\e312";
}
.icon-keyboard_hide:before {
  content: "\e31a";
}
.icon-cut-out:before {
  content: "\e93d";
}
.icon-arroba:before {
  content: "\ea4e";
}
.icon-draft:before {
  content: "\e93f";
}
.icon-contacts:before {
  content: "\e941";
}
.icon-sd_storage:before {
  content: "\e942";
}
.icon-scanner:before {
  content: "\e943";
}
.icon-simcard:before {
  content: "\e944";
}
.icon-filter-drama:before {
  content: "\e945";
}
.icon-attachment4:before {
  content: "\e93e";
}
.icon-print3:before {
  content: "\e946";
}
.icon-tab4:before {
  content: "\e947";
}
.icon-portrait:before {
  content: "\e949";
}
.icon-language:before {
  content: "\e94b";
}
.icon-locate-pin:before {
  content: "\e94c";
}
.icon-location-off:before {
  content: "\e94d";
}
.icon-explore:before {
  content: "\e94e";
}
.icon-send:before {
  content: "\e94f";
}
.icon-directions:before {
  content: "\e950";
}
.icon-map4:before {
  content: "\e951";
}
.icon-navigation:before {
  content: "\e952";
}
.icon-adb:before {
  content: "\e953";
}
.icon-polymer:before {
  content: "\e954";
}
.icon-translate:before {
  content: "\e955";
}
.icon-notifications:before {
  content: "\ec58";
}
.icon-notifications-active:before {
  content: "\ec59";
}
.icon-notifications-off:before {
  content: "\ec5a";
}
.icon-call-end:before {
  content: "\e956";
}
.icon-voicemail:before {
  content: "\ebf6";
}
.icon-volume_mute:before {
  content: "\e958";
}
.icon-hearing:before {
  content: "\e959";
}
.icon-mic-none:before {
  content: "\e95a";
}
.icon-mic2:before {
  content: "\e95b";
}
.icon-mic_off:before {
  content: "\e95c";
}
.icon-notifications-off2:before {
  content: "\e95d";
}
.icon-volume-down:before {
  content: "\e95e";
}
.icon-volume-off:before {
  content: "\e95f";
}
.icon-volume-up:before {
  content: "\e960";
}
.icon-wallpaper:before {
  content: "\e961";
}
.icon-headset2:before {
  content: "\e962";
}
.icon-headset_mic:before {
  content: "\e963";
}
.icon-movie-clak:before {
  content: "\e964";
}
.icon-art-track:before {
  content: "\e965";
}
.icon-image22:before {
  content: "\e966";
}
.icon-image-stage:before {
  content: "\e967";
}
.icon-mms:before {
  content: "\e969";
}
.icon-panorama:before {
  content: "\e96a";
}
.icon-photo:before {
  content: "\e96b";
}
.icon-broken-image:before {
  content: "\e96c";
}
.icon-burst-mode:before {
  content: "\e96d";
}
.icon-circle:before {
  content: "\ea67";
}
.icon-color-fill:before {
  content: "\e96e";
}
.icon-local-florist:before {
  content: "\e96f";
}
.icon-reader-mode:before {
  content: "\e970";
}
.icon-queue_music:before {
  content: "\e971";
}
.icon-audiotrack:before {
  content: "\e972";
}
.icon-style:before {
  content: "\e97a";
}
.icon-functions:before {
  content: "\e979";
}
.icon-payment:before {
  content: "\e97d";
}
.icon-blackcard:before {
  content: "\e974";
}
.icon-circle-usage:before {
  content: "\e975";
}
.icon-circle-apart:before {
  content: "\e977";
}
.icon-membership:before {
  content: "\e97b";
}
.icon-all-inclusive:before {
  content: "\e97c";
}
.icon-redeem:before {
  content: "\e97e";
}
.icon-watch:before {
  content: "\e97f";
}
.icon-event-note:before {
  content: "\e981";
}
.icon-insert-invitation:before {
  content: "\e98c";
}
.icon-ac2:before {
  content: "\e982";
}
.icon-alarm-add:before {
  content: "\e984";
}
.icon-alarm-off2:before {
  content: "\e985";
}
.icon-alarm-on:before {
  content: "\e986";
}
.icon-alarm3:before {
  content: "\e988";
}
.icon-av-timer:before {
  content: "\e989";
}
.icon-cake2:before {
  content: "\e98a";
}
.icon-slow-motion:before {
  content: "\e98d";
}
.icon-shuffle:before {
  content: "\e98e";
}
.icon-call_split:before {
  content: "\e98f";
}
.icon-in-out:before {
  content: "\e990";
}
.icon-import_export:before {
  content: "\e0c3";
}
.icon-wavearrow:before {
  content: "\e991";
}
.icon-redo2:before {
  content: "\e992";
}
.icon-dev-mode:before {
  content: "\e993";
}
.icon-merge-type:before {
  content: "\e994";
}
.icon-rotate-ccw:before {
  content: "\e995";
}
.icon-rotate-cw:before {
  content: "\e996";
}
.icon-crop-rotate:before {
  content: "\e997";
}
.icon-3d-rotation:before {
  content: "\e99a";
}
.icon-autorenew:before {
  content: "\e99b";
}
.icon-exit-app:before {
  content: "\e99c";
}
.icon-input:before {
  content: "\e99d";
}
.icon-open-in-browser:before {
  content: "\e99e";
}
.icon-storage:before {
  content: "\e1db";
}
.icon-view_comfy:before {
  content: "\e42a";
}
.icon-symbols:before {
  content: "\ea74";
}
.icon-signs-3:before {
  content: "\ea7f";
}
.icon-signs-2:before {
  content: "\ea80";
}
.icon-signs-1:before {
  content: "\eb29";
}
.icon-signs2:before {
  content: "\eb2a";
}
.icon-equalizer2:before {
  content: "\e99f";
}
.icon-dialpad:before {
  content: "\e9a0";
}
.icon-eq:before {
  content: "\e9a1";
}
.icon-drag-handle:before {
  content: "\e9a2";
}
.icon-dehaze:before {
  content: "\e9a3";
}
.icon-more-horiz:before {
  content: "\e9a5";
}
.icon-more-vert:before {
  content: "\e9a6";
}
.icon-view-column:before {
  content: "\e9a8";
}
.icon-view-stream:before {
  content: "\e9a9";
}
.icon-view-week:before {
  content: "\e9aa";
}
.icon-reorder:before {
  content: "\e9ab";
}
.icon-menu:before {
  content: "\e9ac";
}
.icon-warning:before {
  content: "\e9ae";
}
.icon-cancel:before {
  content: "\e9b1";
}
.icon-delete22:before {
  content: "\e9b0";
}
.icon-close3:before {
  content: "\e9af";
}
.icon-done:before {
  content: "\e9b4";
}
.icon-done-all:before {
  content: "\e9b5";
}
.icon-sourceui:before {
  content: "\ebc8";
}
.icon-feather:before {
  content: "\ebd3";
}
.icon-target222:before {
  content: "\ebd4";
}
.icon-star:before {
  content: "\ebe2";
}
.icon-star22:before {
  content: "\ebd7";
}
.icon-price-tag:before {
  content: "\ebd8";
}
.icon-book2:before {
  content: "\ebda";
}
.icon-bucket:before {
  content: "\ebdc";
}
.icon-magnet:before {
  content: "\ebdd";
}
.icon-droplets:before {
  content: "\ebe0";
}
.icon-database22:before {
  content: "\ebdf";
}
.icon-linux:before {
  content: "\e908";
}
.icon-ubuntu:before {
  content: "\e90c";
}
.icon-driver-round:before {
  content: "\e9bb";
}
.icon-browser:before {
  content: "\ebce";
}
.icon-battery:before {
  content: "\ebdb";
}
.icon-cog22:before {
  content: "\ebd2";
}
.icon-technology-22:before {
  content: "\e9e7";
}
.icon-tablet:before {
  content: "\ea1b";
}
.icon-ipad:before {
  content: "\ea1f";
}
.icon-monitor-locked:before {
  content: "\eab6";
}
.icon-brush:before {
  content: "\ebe6";
}
.icon-link3:before {
  content: "\ebe8";
}
.icon-vcard:before {
  content: "\ebea";
}
.icon-user5:before {
  content: "\ebeb";
}
.icon-users22:before {
  content: "\ebec";
}
.icon-earth4:before {
  content: "\ebed";
}
.icon-network:before {
  content: "\ebee";
}
.icon-paperplane:before {
  content: "\ebef";
}
.icon-github22:before {
  content: "\ebf0";
}
.icon-facebook3:before {
  content: "\ebf1";
}
.icon-pinterest2:before {
  content: "\ebf2";
}
.icon-linkedin2:before {
  content: "\ebf3";
}
.icon-skype2:before {
  content: "\ebf4";
}
.icon-phone2:before {
  content: "\ebf5";
}
.icon-palette:before {
  content: "\ebf7";
}
.icon-music22:before {
  content: "\ebf8";
}
.icon-credit-card22:before {
  content: "\ebf9";
}
.icon-gauge:before {
  content: "\ebfa";
}
.icon-gauge2:before {
  content: "\ebfb";
}
.icon-reply-all:before {
  content: "\ebfd";
}
.icon-forward:before {
  content: "\ebfe";
}
.icon-reply:before {
  content: "\ebfc";
}
.icon-share2:before {
  content: "\ebff";
}
.icon-code22:before {
  content: "\ec00";
}
.icon-arrow2:before {
  content: "\ec02";
}
.icon-retweet:before {
  content: "\ec03";
}
.icon-upload22:before {
  content: "\ec04";
}
.icon-lite-left:before {
  content: "\ec0d";
}
.icon-lite-down:before {
  content: "\ec0e";
}
.icon-lite-up:before {
  content: "\ec0f";
}
.icon-lite-right:before {
  content: "\ec10";
}
.icon-tiny-left:before {
  content: "\ec11";
}
.icon-tiny-down:before {
  content: "\ec12";
}
.icon-tiny-up:before {
  content: "\ec13";
}
.icon-tiny-right:before {
  content: "\ec14";
}
.icon-down:before {
  content: "\ec16";
}
.icon-up:before {
  content: "\ec17";
}
.icon-left:before {
  content: "\ec15";
}
.icon-right:before {
  content: "\ec18";
}
.icon-list:before {
  content: "\ec19";
}
.icon-plus22:before {
  content: "\ec1c";
}
.icon-warning2:before {
  content: "\ec20";
}
.icon-cross:before {
  content: "\ec1d";
}
.icon-minus2:before {
  content: "\ec1b";
}
.icon-help5:before {
  content: "\ec1f";
}
.icon-info:before {
  content: "\ec1e";
}
.icon-cone:before {
  content: "\ec1a";
}
.icon-cc:before {
  content: "\ec21";
}
.icon-woman:before {
  content: "\ec27";
}
.icon-man:before {
  content: "\ec28";
}
.icon-cell-rotate:before {
  content: "\ec22";
}
.icon-phone-pad:before {
  content: "\ec26";
}
.icon-play-store-1:before {
  content: "\ec2a";
}
.icon-app:before {
  content: "\ec2b";
}
.icon-play-store:before {
  content: "\ec2c";
}
.icon-grid2:before {
  content: "\ec2d";
}
.icon-delete4:before {
  content: "\ec2e";
}
.icon-bug22:before {
  content: "\ec57";
}
